

body {
    margin: 0;
    background-color: rgb(217, 217, 217);
    font-family:'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #000000;
    font-family:'Raleway', sans-serif;
    padding: 5px;
    align-items: center;
}

.Logo{
    display: flex;
    align-items: center;
}

.logoImg{
    height: 90px;
    margin-right:10px;
}

nav a{
    padding-right: 20px;
    align-items: center;
}

nav a:hover{
    color:#838383;
}
.carrito {
    height: 25px;
    width: auto;
    padding-top: 1rem;
    padding-right: 1rem;
}
/* ESTE NO FUNCIONA */
/* margin para afuera padding para adentro */
/* en el margen va al sentido del reloj top-right-bottom-left */
.presentation {
    display: flex;
}

/* .slide {
    height:
} */

.catalogo {
    display: inline-block;
}
.products {
    border: 1px solid black;
    padding: .5rem;
    margin: .5rem 3rem .5rem 3rem;
    text-align: center;
    display: inline-block;
    width: 200px;
    background-color: white;
}

.antena {
    max-width: 100%;
}