<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <title>MyPage</title>
</head>
<body>

    <header>
        <a href="index.html" class="Logo">
            <img src="/media/image.png" alt="logo tienda" class="logoImg">
            <h2 class="MyPage">MyPage</h2>
        </a>

        <nav>
            <a href="/index.html" class="Nav-Link">HOME</a>
        </nav>
    </header>

    <div class="login-box">
      <form action="action_page.php" method="post">
        <div class="imgcontainer">
          <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#3b3b3b">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw"><a href="#">Forgot password?</a></span>
        </div>
      </form>
      
    </div>
    

    <footer>
        <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo">MyPage</h1>
                  
              <h2>Contact</h2>
              
              <address>
                5534 Somewhere In. The World 22193-10212<br>
                    
                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">Media</h2>
          
                <ul class="nav__ul">
                  <li>
                    <a href="#">Online</a>
                  </li>
          
                  <li>
                    <a href="#">Print</a>
                  </li>
                      
                  <li>
                    <a href="#">Alternative Ads</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Technology</h2>
                
                <ul class="nav__ul nav__ul--extra">
                  <li>
                    <a href="#">Hardware Design</a>
                  </li>
                  
                  <li>
                    <a href="#">Software Design</a>
                  </li>
                  
                  <li>
                    <a href="#">Digital Signage</a>
                  </li>
                  
                  <li>
                    <a href="#">Automation</a>
                  </li>
                  
                  <li>
                    <a href="#">Artificial Intelligence</a>
                  </li>
                  
                  <li>
                    <a href="#">IoT</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item">
                <h2 class="nav__title">Legal</h2>
                
                <ul class="nav__ul">
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  
                  <li>
                    <a href="#">Terms of Use</a>
                  </li>
                  
                  <li>
                    <a href="#">Sitemap</a>
                  </li>
                </ul>
              </li>
            </ul>
            
            <div class="legal">
              <p>&copy; 2023 MyPage. All rights reserved.</p>
              
              <div class="legal__links">
                <span>Made with <span class="heart">♥</span> remotely from Guaymayork</span>
              </div>
            </div>
          </footer>
      </footer>

</body>
</html>
